/* public/styles.css */
/* Reset default margin and padding */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.chat-container {
  width: 100%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.messages {
  height: calc(100vh - 80px); /* Adjust the value based on your header height and input container */
  overflow-y: auto;
}

.message {
  display: flex;
  align-items: flex-end;
  margin: 10px;
}

.received {
  justify-content: flex-start;
}

.sent {
  justify-content: flex-end;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #007bff;
  margin-right: 10px;
}

.message-content {
  padding: 10px;
  border-radius: 15px;
  background-color: #f2f2f2;
  color: #333;
  max-width: 70%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #f7f7f7;
}

.message-input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.send-button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.send-button:hover {
  background-color: #0056b3;
}